{% extends 'home_admin.html' %}
{% block main %}
{% load static %}
            <!-- ======================= Cards ================== -->
            <div class="cardBox">
                <div class="card">
                    <a >
                        <div>
                            <div class="numbers">4</div>
                            <a class="cardName">รายการรออนุมัติการจองห้อง</a>
                        </div>
                    </a>

                    <div class="iconBx">
                        <ion-icon name="library-outline"></ion-icon>
                    </div>
                </div>

    <div class="card" >
        <div>
            <div class="numbers">5</div>
            <a class="cardName" >จำนวนสมาชิกทั้งหมด</a>
        </div>

        <div class="iconBx">
            <ion-icon name="people-outline"></ion-icon>
        </div>
    </div>
</div>

            <!-- ================ Order Details List ================= -->
            <div class="details">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h2>รายการรออนุมัติการจองห้อง</h2>
                        <input class="search" type="text" id="myInput" onkeyup="myFunction()" placeholder="ค้นหา" title="Type in a name">
                    </div>

                    <table>
                        <thead>
                            <tr>
                                <td>ลำดับ</td>
                                <td>รหัสนักศึกษา</td>
                                <td>ห้อง</td>
                                <td>วันที่จอง</td>
                                <td>เวลาที่จอง</td>
                                <td>เหตุผลการจอง</td>
                                <td>ตัวเลือก</td>

                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>63114540034</td>
                                <td>1</td>
                                <td>18/05/2022</td>
                                <td>09:00 - 11:00</td>
                                <td>ติวสอบ</td>
                                <td>
                                    <a  type="button" class="btn status approved" data-bs-toggle="modal" data-bs-target="#approve">อนุมัติ</a>
                                    <a type="button" class="btn status unapproved" data-bs-toggle="modal" data-bs-target="#disapproval">ไม่อนุมัติ</a>
                                </td>
                            </tr>

                            <tr>
                                <td>2</td>
                                <td>63114540034</td>
                                <td>1</td>
                                <td>18/05/2022</td>
                                <td>09:00 - 11:00</td>
                                <td>ติวสอบ</td>
                                <td>
                                    <a  type="button" class="btn status approved" data-bs-toggle="modal" data-bs-target="#approve">อนุมัติ</a>
                                    <a  type="button" class="btn status unapproved" data-bs-toggle="modal" data-bs-target="#disapproval">ไม่อนุมัติ</a>
                                </td>
                            </tr>

                            <tr>
                                <td>3</td>
                                <td>63114540034</td>
                                <td>1</td>
                                <td>18/05/2022</td>
                                <td>09:00 - 11:00</td>
                                <td>ติวสอบ</td>
                                <td>
                                    <a  type="button" class="btn status approved" data-bs-toggle="modal" data-bs-target="#approve">อนุมัติ</a>
                                    <a  type="button" class="btn status unapproved" data-bs-toggle="modal" data-bs-target="#disapproval">ไม่อนุมัติ</a>
                                </td>
                            </tr>

                            <tr>
                                <td>4</td>
                                <td>63114540034</td>
                                <td>1</td>
                                <td>18/05/2022</td>
                                <td>09:00 - 11:00</td>
                                <td>ติวสอบ</td>
                                <td>
                                    <a  type="button" class="btn status approved" data-bs-toggle="modal" data-bs-target="#approve">อนุมัติ</a>
                                    <a type="button" class="btn status unapproved" data-bs-toggle="modal" data-bs-target="#disapproval">ไม่อนุมัติ</a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <!-- ยืนยันการไม่อนุมัติ -->
        <div class="modal fade" id="disapproval" name="disapproval" tabindex="-1" aria-labelledby="disapprovalModal"
        aria-hidden="true">
    <div class="modal-dialog modal-lg modal-fullscreen-lg-down">
        <div class="modal-content">
        <form action="" >
            <div class="modal-header">
                <h5 class="modal-title" id="disapprovalModal">ยืนยันการไม่อนุมัติ </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
        <div class="modal-body">
            <div class="mb-3">
                <div class="col" for="email_user">
                    <input type="text" class="form-control " id="email_user" name="email_user" placeholder="เหตุผลการไม่อนุมัติ">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger " data-bs-dismiss="modal">ยกเลิก</button>
            <button type="submit" class="btn btn-success ">ยืนยัน</button>
        </div>
        </form>
        </div>
    </div>
    </div>

<!-- ยืนยันการอนุมัติ -->
    <div class="modal fade" id="approve" name="approve" tabindex="-1" aria-labelledby="approveModal"
        aria-hidden="true">
    <div class="modal-dialog modal-lg modal-fullscreen-lg-down">
        <div class="modal-content">
        <form action="" >
            <div class="modal-header">
                <h5 class="modal-title" id="approveModal">ยืนยันการอนุมัติ </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger " data-bs-dismiss="modal">ยกเลิก</button>
            <button type="submit" class="btn btn-success ">ยืนยัน</button>
        </div>
        </form>
        </div>
    </div>
    </div>
{% endblock %}      