{% extends 'home_admin.html' %} {% block main %} {% load static %}
<!-- ================ Order Details List ================= -->
<div class="details ">
    <div class="recentOrders">
        <div class="cardHeader">
            <h2>จัดการห้อง</h2>
            <input class="search" type="text" id="myInput"
                onkeyup="myFunction()" placeholder="ค้นหา" title="Type in a
                name">
            <a class="btn" data-bs-toggle="modal" data-bs-target="#addroom">เพิ่มห้อง</a>
        </div>

        <table>
            <thead>
                <tr>
                    <td>ห้อง</td>
                    <td>อุปกรณ์</td>
                    <td>สถานะห้อง</td>
                    <td>ตัวเลือก</td>
                </tr>
            </thead>

            <tbody>
                {% for All_room in page.object_list %}
                <tr>
                    <td>{{ All_room.room_name }}</td>
                    <td>{{ All_room.description }}</td>
                    <td>{{ All_room.status }}</td>
                    <td>
                        <button class="button" data-bs-toggle="modal"
                            data-bs-target="#editroom">แก้ไข</button>
                        <button class="button" data-bs-toggle="modal"
                            data-bs-target="#deleteroom">ลบ</button>
                    </td>
                </tr>
                <!-- แก้ไขห้อง -->
                <div class="modal fade" id="editroom" tabindex="-1"
                    aria-labelledby="editroomModal" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-fullscreen-lg-down">
                        <div class="modal-content">
                            <form
                                action="/edit_room/{{All_room.id}}" method="POST" enctype="multipart/form-data">
                                <div class="modal-header">
                                    <h5 class="modal-title"
                                        id="deleteuserModal">แก้ไขห้อง</h5>
                                    <button type="button" class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <div class="col" for="room_name">
                                            <input type="text" class="form-control "
                                                id="room_name" name="room_name"
                                                placeholder="{{ All_room.room_name }}">
                                        </div> <br>
                                        <div class="mb-3">
                                            <select class="form-select">
                                                <option selected >สถานะห้อง</option>
                                                <option value="OPEN">OPEN</option>
                                                <option value="NOTOPEN">CLOSE</option>
                                            </select>
                                        </div><br>
                                        <div class="col" for="description">
                                            <input type="text" class="form-control "
                                                id="description" name="description"
                                                placeholder="{{ All_room.description }}"> <br>
                                            <input type="text" class="form-control "
                                                id="description" name="description"
                                                placeholder="อุปกรณ์..."> <br>
                                            <button type="button" class="btn btn-success "
                                                data-bs-dismiss="modal">เพิ่ม</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger
                                        "
                                        data-bs-dismiss="modal">ยกเลิก</button>
                                    <button type="submit" class="btn btn-success
                                        ">ยืนยัน</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- ยืนยันการลบ -->
                <div class="modal fade" id="deleteroom" tabindex="-1"
                    aria-labelledby="deleteroomModal" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-fullscreen-lg-down">
                        <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title"
                                        id="deleteroomModal">ยืนยันการลบ</h5>
                                    <button type="button" class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <div class="col" for="room_name">
                                            ห้อง {{ All_room.room_name }}
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="col" for="status">
                                            สถานะ {{ All_room.status }}
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="col" for="description" >
                                            อุปกรณ์ {{ All_room.description }}
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger
                                        "
                                        data-bs-dismiss="modal">
                                        ยกเลิก
                                    </button>
                                    <a type="submit" class="btn btn-success " href="/delete_room/{{All_room.id }}">
                                        ยืนยัน
                                    </a>
                                </div>
                        </div>
                    </div>
                </div>

                {% endfor %}

            </tbody>
        </table>
        <div class="page-links">
            {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number }}">หน้าก่อนหน้า</a>
            {% endif %}
            {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}">หน้าถัดไป</a>
            {% endif %}
        </div>
    </div>

    <!-- เพิ่มห้อง -->
    <div class="modal fade" id="addroom" tabindex="-1"
        aria-labelledby="inputnameModal"
        aria-hidden="true">
        <div class="modal-dialog modal-lg modal-fullscreen-lg-down">
            <form method="post" action="/admin_room">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addroomModal">เพิ่มห้อง</h5>
                        <button type="button" class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <div class="col" for="room_name">
                                <input type="text" class="form-control "
                                    id="room_name" name="room_name"
                                    placeholder="ชื่อห้อง">
                            </div> <br>
                            <div class="mb-3">
                                <select class="form-select">
                                    <option selected>กรุณาเลือกสถานะห้อง</option>
                                    <option value="OPEN">พร้อมให้จอง</option>
                                    <option value="NOTOPEN">ปิดชั่วคราว</option>
                                </select>
                            </div><br>
                            <div class="col" for="description">
                                <input type="text" class="form-control "
                                    id="description" name="description"
                                    placeholder="อุปกรณ์"> <br>
                                <button type="button" class="btn btn-success "
                                    data-bs-dismiss="modal">เพิ่ม</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger "
                            data-bs-dismiss="modal">ยกเลิก</button>
                        <button type="submit" class="btn btn-success ">ยืนยัน</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
{% endblock %}