{% extends 'home_user.html' %}
{% block main %}
{% block content %}
{% load static %}

<!-- ================ Order Details List ================= -->
<div class="details">
    <div class="">
        <div class="cardHeader">
            <h2>ตารางการจองห้อง</h2>
        </div>
        {% if user.is_authenticated %}
        <div class="clearfix">
            <a class="btn btn-secondary " href="{% url 'calendar' %}?{{ prev_month }}"> << เดือนก่อนหน้า </a>
            <a class="btn btn-secondary " href="{% url 'calendar' %}?{{ next_month }}"> เดือนถัดไป >> </a>
            <a class="btn btn-warning " data-bs-toggle="modal" data-bs-target="#addbooking"> + เพิ่มการจอง </a>
        </div><br>
        {% else %}
        <div class="clearfix">
            <a class="btn btn-secondary " href="{% url 'calendar' %}?{{ prev_month }}"> เดือนก่อนหน้า </a>
            <a class="btn btn-secondary " href="{% url 'calendar' %}?{{ next_month }}"> เดือนถัดไป </a>
        </div><br>
        {% endif %}
        {{ calendar }}
    </div>

    <!-- เพิ่มการจอง-->
    <div class="modal fade" id="addbooking" tabindex="-1" aria-labelledby="editroomModal" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-fullscreen-lg-down">
            <div class="modal-content">
                <form action="">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editroomModal">เพิ่มการจอง</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <div class="col" for="id_room">
                                <div class="input-group-prepend">
                                    <label>เลือกห้อง</label>
                                </div>
                                <select class="custom-select" id="inputGroupSelect01">
                                    <option selected>เลือกห้อง...</option>
                                    <option value="room 1">ห้อง 1</option>
                                    <option value="room 2">ห้อง 2</option>
                                    <option value="room 3">ห้อง 3</option>
                                </select>
                            </div> <br>
                            <div class="col" for="date">
                                <label>วันที่จอง</label>
                                <input type="date" class="form-control " id="date" name="date" placeholder="16/09/2022">
                            </div> <br>
                            <div class="col" for="time">
                                <label>เวลาเริ่มต้น</label>
                                <input type="time" class="form-control " id="time" name="time" placeholder="09:00น.">
                            </div> <br>
                            <div class="col" for="time2">
                                <label>เวลาสิ้นสุด</label>
                                <input type="time" class="form-control " id="time2" name="time2" placeholder="11:00น.">
                            </div> <br>
                            <div class="col" for="member">
                                <label>สมาชิก</label>
                                <input type="text" class="form-control " id="member" name="member"
                                    placeholder="รหัสนักศึกษา"> <br>
                                <button type="submit" class="btn btn-success ">เพิ่ม</button>
                            </div> <br>
                            <div class="col" for="reason">
                                <label>เหตุผลการจอง</label>
                                <input type="text" class="form-control " id="reason" name="reason" placeholder="เหตุผลการจอง">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger " data-bs-dismiss="modal">ยกเลิก</button>
                        <button type="submit" class="btn btn-success ">ยืนยัน</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
{% endblock %}
{% endblock %}