{% extends 'home_user.html' %}
{% block main %}
{% load static %}
            
            <!-- ================ Order Details List ================= -->
            <div class="details">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h2>ข้อมูลส่วนตัว</h2> <br>
                        <a href="https://lin.ee/MAP3FhF"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/th.png" alt="เพิ่มเพื่อน" height="36" border="0"></a>
                    </div>
                    <img class="rounded-pill mx-auto" width="100" src="{{ user.socialaccount_set.all.0.get_avatar_url }}">
                    <h5></h5>
                        <div class="modal-body">
                                <div class="col-md-3 mx-auto" for="id_name">
                                    <input type="text" class="form-control "
                                        id="room_name" name="room_name"
                                        placeholder="รหัสนักศึกษา" disabled>
                                </div> <br>
                                <div class="col-md-3 mx-auto" for="name">
                                    <input  class="form-control text-muted"
                                        placeholder="{{ user.first_name }}&nbsp{{ user.last_name }}" disabled>
                                </div> <br>
                                <div class="col-md-3 mx-auto" for="e-mail">
                                    <input  class="form-control text-muted"
                                        placeholder="{{ user.email }}" disabled>
                                </div>
                        </div> <br>
                    <div class="text-center">
                        <a class="btn btn-outline-warning text-black" data-bs-toggle="modal" data-bs-target="#editprofile">แก้ไขข้อมูลส่วนตัว</a>
                    </div>
                </div>
            </div>

<!-- แก้ไขข้อมูลส่วนตัว -->
    <div class="modal fade" id="editprofile" tabindex="-1"
    aria-labelledby="inputnameModal"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-fullscreen-lg-down">
        <form method="post" action="">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addroomModal">แก้ไขข้อมูลส่วนตัว</h5>
                    <button type="button" class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>

                    <div class="modal-body">
                            <div class="col" for="room_name">
                                <input type="text" class="form-control "
                                    id="room_name" name="room_name"
                                    placeholder="รหัสนักศึกษา">
                            </div> <br>
                            <div class="col" for="room_name">
                                <input  class="form-control text-muted"
                                    placeholder="{{ user.first_name }}&nbsp{{ user.last_name }}" disabled>
                            </div> <br>
                            <div class="col" for="room_name">
                                <input  class="form-control text-muted"
                                    placeholder="{{ user.email }}" disabled>
                            </div> <br>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger "
                        data-bs-dismiss="modal">ยกเลิก</button>
                    <button type="submit" class="btn btn-success ">ยืนยัน</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}